<% include head %>
</head>
<body>
	<% include navbar %>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="single-movie-title">
					<%= parsedData.original_title%>
				</h1>
				
				<h3 class="single-movie-title">
					<%= parsedData.tagline %>
				</h3>		

				<a href="<%= parsedData.homepage %>" target="_blank"><img src="<%= imageBaseUrl + parsedData.poster_path %>" /></a>
				<!-- target="_blank" opens link in a new tab -->
				
				<p class="overview-header">Movie Synopsis: <span class="single-movie-overview">
					<%= parsedData.overview %>
				</span></p>
			</div>
		</div>
	</div>

<!-- Button trigger modal -->
<div class="col-sm-12 text-center">
	<!-- data-target attribute links to '#myModal' Because when you click on the button it opens up "myModal" -->
	<!-- data-toggle attribute indicates it is a modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		More Details
	</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Movie Information</h4>
      </div>
      <div class="modal-body">
		<!-- modal-body should include -->
		<ul>
			<li>IMDB Link : <a href="https://www.imdb.com/title/<%= parsedData.imdb_id %>" target="_blank">Link</a></li>
			<!-- target="_blank" opens link in a new tab -->
			<li>Budget : <%= parsedData.budget %></li>
			<li>Revenue : <%= parsedData.revenue %></li>
			<li>Release Date : <%= parsedData.release_date%></li>
			<li>Production Companies :
				<ul>
				<% parsedData.production_companies.forEach((company) => {%>		
					<li><%= company.name %></li>
				<% })%></li>
				</ul>
		</ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>